{% extends 'base.html.twig' %}

{% trans_default_domain "BpehNestablePageBundle" %}

{% block body %}
    <h1>{{ 'new_page' |trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('bpeh_page_list') }}">{{ 'back_to_list' | trans }}</a>
        </li>
    </ul>
{% endblock %}
