{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>Ispublished</th>
                <td>{% if page.isPublished %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sequence</th>
                <td>{{ page.sequence }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if page.modified %}{{ page.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if page.created %}{{ page.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpeh_page_list') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bpeh_page_edit', { 'id': page.id }) }}">Edit Page</a>
        </li>
        {# checks if pagemeta is defined. If no, user can add new pagemeta #}
        {% if pageMeta.id is defined %}
            <li>
                <a href="{{ path('bpeh_pagemeta_show', { 'id': pageMeta.id }) }}">View PageMeta</a>
            </li>
            <li>
                <a href="{{ path('bpeh_pagemeta_edit', { 'id': pageMeta.id }) }}">Edit PageMeta</a>
            </li>
        {%  else %}
            <li>
                <a href="{{ path('bpeh_pagemeta_new') }}">Add PageMeta</a>
            </li>
        {% endif %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
